/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
*/





@import "compass/reset";
@import "compass/layout";
@import "partials/variables";
@import "partials/fonts";
@import "partials/mixin";
@import "partials/placeholders";
@import "partials/media_queries";
@import "partials/helper";
@import "partials/menu";
@import "partials/header";
@import "partials/index_about";
@import "partials/expertise";
@import "partials/portofolio";
@import "partials/testimonials";
@import "partials/contact";
@import "partials/pricing";
//@import "partials/footer";

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: $main_font;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;

    a {
      text-decoration: none;

      &:hover {
      text-decoration: none;
      }
    }
}

.container {
	margin:0;
}

//Responsive Image

img {
  max-width: 100%;
  height: auto;
}
