
#exp-header {

    background:url('Expertise_Header.jpeg')no-repeat center center;
  	-webkit-background-size: cover;
  	min-height:100vh;
  	min-width: 100%;
    width:100%;
  	padding-bottom:100px;
  	margin: 0;
    font-family: $main_font;
    font-size: 16px;

    @include MQ (S) {
      font-size: 20px;
    };

    @include MQ (S) {
      font-size: 25px;
    };

    @include MQ (L) {
      font-size: 30px;
    };
    @include MQ (XL) {
      font-size: 40px;
    };


    .exp-main-header {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-family: $secondary_font;
      font-weight: bold;
      color:white;



    }

    .exp-main-title{
      background-color: rgba(#5B95AA,0.7);
      padding:60px 30px;
      width:80%;
      max-width: 1200px;

      h1 {
        color:white;
        font-family: $secondary_font;
        font-size:1.5em;

      }
    }

}

.expertise-intro {

  margin:0;
  padding:10px 30px;
  font-weight: bold;
  background-color: #F1F1F1;

  p {
  font-size: 1.6em;
  line-height: 1.3;
  font-family: $main_font;
  padding:40px 0;
  color:black;
}

ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-content: center;
}
li {
  margin: 0 60px 30px 0;
  min-width: 200px;
  padding:20px;

  a {
    width:100%;
    color:white;
  }
}

li:nth-child(1){
  background-color: $Darkblue;
}
li:nth-child(2){
  background-color: $Green;
}
li:nth-child(3){
  background-color: $Yellow;
}
li:nth-child(4){
  background-color: $Brightred;
}
}

.expertise-main {

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: auto;
  h1 {
    color:white;

  }

  .expertise-section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    height:auto;
    @include MQ (S) {
      flex-direction: row;

        &:nth-child(even){
          .expertise-section-header{
            order: 1;
          }
        }


    }


    p {
      color:white;
      font-family: $main_font;
      line-height: 1.4;
      font-size: 1.0em;
    }

  }

  .expertise-section-header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    // flex:1 1 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color:red;
    min-height: 350px;

    @include MQ (S) {
          flex:1;
          height: 550px;

    }


    img {
      width: 300px;


      @include MQ (S) {
            width:80%;

      }
    }



  }


.expertise-section-body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;

  flex-direction: column;
  background-color: white;
  text-align:left;
  padding:40px 20px;
  min-height: 100%;

  h1 {
    font-size: 2.5em;
    margin:20px 0px;
  }

  @include MQ (S) {
        width: 50%;
        min-height: 550px;
        font-size: 20px;
  }

  @include MQ (L) {
        font-size: 25px;
  }



  button {
    @extend %button;
    background-color: $Darkblue;

    a {
      width: 100%;
      color: white;
    }

  }

}

  section:nth-child(1) {
    background-color: $Darkblue;

    p {
      color:$Darkblue;
    }

    h1 {
        color:$Darkblue;
    }

  }

  section:nth-child(2) {
    background-color: $Green;

    p {
      color:$Green;
    }

    h1 {
        color:$Green;
    }
  }
  section:nth-child(3) {
    background-color: $Yellow;
    p {
      color:$Yellow;
    }

    h1 {
        color:$Yellow;
    }
  }


}

.expertise-contact {
  width:100%;

  background: url('talk2.jpg') no-repeat center center;
  -webkit-background-size: cover;;
  height:400px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .contact-header {
      h1 {
        font-size: 2em;
        text-transform: uppercase;
        margin:50px;
        font-weight: bold;
        font-family: $secondary_font;
        color:white;

      }
  }
.contact-bottom{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;

  @include MQ (S) {
    flex-direction: row;
  }

  button {
    @extend %button;
    min-width:200px;
    background-color: $Brightblue;



    &:hover {
      background-color:rgba($Brightblue,0.8);
    }
    @include MQ (M){
      min-width:300px;
      &:nth-child(odd){
      margin-right: 30px;
  }
    }
    a {
    color:white;
    width: 100%;
    font-size: 1em;

    @include MQ (M){
      font-size: 2em;
    }

}
  }
}
.contact-footer {
  width: 100%;
  button {
    @extend %button ;
    min-width:300px;
    background-color: $Brightblue;
    margin-top: 20px;



    &:hover {
      background-color:rgba($Brightblue,0.8);
    }
    a {
    color:white;
    width: 100%;
    font-size: 1em;

    @include MQ (M){
      font-size: 2em;
    }

}
  }
}
}
