#splash {

    background:url('http://oliverwebdesigns.com/UKCD/images/background.jpeg')no-repeat center center;
  	-webkit-background-size: cover;
  	min-height:100vh;
  	min-width: 100%;
    width:100%;
  	padding-bottom:100px;
  	display: flex;
    flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	margin: 0;

}


.branding {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  min-width: 100%;
  min-height:100%;
  margin:0;
  color:white;
  font-family: $secondary_font;


  @include MQ (XS){
  flex-direction: row;
  justify-content: center;
  text-align: left;
  margin-top: 5%;
  padding-left: 10%;
}
  @include MQ (L){
  width:220px;

      }



  .logo {
    min-height:100%;
    flex:0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:5%;




  img {
       width:150px;
       min-width: 100%;
    }
  } // end logo

  .big_title {
    flex:2;
    display: flex;
    flex-direction: column;



    h1 {
      font-size: 2.3em;
      font-weight: bold;
      min-width:100%;
      margin-top: 15px;
      @include MQ (S){
          font-size: 3.5em;
      }
      @include MQ (M){
          font-size: 4.2em;
      }
      @include MQ (L){
          font-size: 5em;
      }
      @include MQ (XL){
          font-size: 6.2em;
      }
    }

    h2 {
      color: $Brightblue;
      font-size: 1.8em;
      width:100%;
      margin-top: 15px;
      @include MQ (S){
          font-size: 3.0em;
      }
       @include MQ (L){
          font-size: 4em;
      }
    }

  } // end big_title



} //end branding

.index-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px 0;
  min-width: 100%;
  margin-top: 25px;





.headButton {
  height: auto;
  margin:15px;
  padding:10px 30px;
  background: rgba(0, 0, 0, 0.5);
  border:solid #16c1f8 2px;
  font-size: 16px;
  font-family: $secondary_font;
  font-weight: 700;

  a {
    color:darken($Brightblue,5%);
  }

@include MQ (XS){
      width: 150px;
      font-size: 16px;
  }

  @media all and (min-width:850px){
      width: 280px;
      font-size: 26px;
      padding:15px 30px;
  }
}
}
//end index-footer





.main_arrow {
  width:100%;
  position:relative;
  background-color:#fff;
}

/* the wrapper element that will become the outer circle */
.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:rgba(#111,0.6);
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

/* a triangle to make the main part of the arrow. Adjust the border-color to fit your needs */
.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

/* a pseudo element arrow placed on top of the other one with the same color as the wrapper */
.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: rgba(#fff,0);
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}
