.marketingContainer {
  padding: 20px;
}

.flex-grid-marketing {
  position: relative;
	display: flex;
	flex-flow: row wrap;
  justify-content: space-between;
	margin: 0 0 20px 0;
	padding:5px;
}
.col-marketing {
  background-color: tomato;
	box-sizing: border-box;
	outline: 2px solid blue;
	flex: 1;
}

@media (max-width:992px) {
	.col-marketing {
		flex-basis: 50%;
		background-color: red;
	}
}

@media (max-width:640px) {
	.col-marketing {
		flex-basis: 100%;
		background-color: green;
	}
}

.cat{
  margin: 5px;
  background-color: white;
}
