.marketingContainer {
  padding: 20px;
}

.quoteContainer{
    padding: 50px;
}

h2{
  padding: 5px;
}

h3{
  padding: 5px;
  font-weight: bold;
}
p{
  padding: 5px;
  padding-top:10px;
}

.flex-grid-marketing {
  position: relative;
	display: flex;
	flex-flow: row wrap;
  justify-content: space-between;
	margin: 0 0 20px 0;
	padding:5px;
}
.col-marketing {
	box-sizing: border-box;
	flex: 1;
}

@media (max-width:992px) {
	.col-marketing {
		flex-basis: 50%;
	}
}

@media (max-width:640px) {
	.col-marketing {
		flex-basis: 100%;
	}
}

.cat{
  margin: 5px;
}

.cat img{
  width: 200px; height: 200px;
}

q{
     quotes: "\201C" "\201D" "\2018" "\2019";
 }
q:before,
  {
     content: open-quote;

 }

q:after {
     content: close-quote;
 }

 .marketing-mid-section{
   width: 100%;
   min-height: 50px;
   background-color: lighten($Green,5%);
   padding: 50px 100px 50px 100px;
   color: #fff;
   font-family: $secondary_font;

 }

/* table css */
.table-div{
padding: 40px;
}
 table {
   width: 100%;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;

 }
 /* Zebra striping */
 /*tr:nth-of-type(odd) {
   background: #eee;
 }*/
 th {
   background: #282E44;
   color: white;
   font-weight: bold;

 }
 td, th {
   padding: 6px;
   border: 1px solid #ccc;
   text-align: left;
   height: 50px;
 }
 .center{
   text-align: center;
 }

 /*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Service"; }
	td:nth-of-type(2):before { content: "Package 1"; }
	td:nth-of-type(3):before { content: "Package 2"; }
	td:nth-of-type(4):before { content: "Package 3"; }

}
