#index-work {
  font-size: 16px;
  padding: 60px 0;


  h1 {
    @extend %big_title;
    font-weight: bold;
    color: $Brightblue;
    margin-bottom: 20px;
    font-size: 2.3em;
    font-family: $secondary_font;

    @include MQ (M) {
      font-size: 2.5em;
    };

  }

  img {
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .index-work--header {

    margin: 0 auto;


    h2 {
      font-family: $secondary_font;
      font-size: 1.3em;
      margin: 1em 0;
      padding: 5px 0 35px 0;
      font-weight: bold;

      @include MQ (M) {
        font-size: 2em;
      };
    }

    button {
      @extend %button;
      background-color: $Yellow;
      margin: 20px 0 30px 0;
      font-size: 1em;
      color: white;
      font-family: $secondary_font;

      a {
        color:black;
        font-weight: bold;
      }
    }


  }

.portofolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;



.portofolio-section {

display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
min-width: 100%;
justify-content: center;
align-items: center;
padding: 60px 0 10px 0;
border-bottom:2px solid lightgrey;


a {
  color:$Green;
  text-decoration: underline;
}



&:nth-child(1) {
  background-color: #F1F1F1;

  a {
     color:$pinkText;
  }

}

&:nth-child(3) {
  background-color: #F1F1F1;

  a {
    color:$pinkText;
  }



}

&:nth-child(4) {
    border-bottom:none;

    }

    &:nth-child(even) {

      h1 {
        align-self: flex-start;
      }
      .portofolio-body {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          a {

            @include MQ (M) {
            order: 1;
        }
          }
    }

}
}

.portofolio-body {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin : 35px 0;

   @include MQ (M) {
     flex-direction:row;
     margin-top: 25px;
   }

   p {
     font-family:$main_font;
     padding:15px 40px;
     font-size: 1.2em;

     @include MQ (S){
      text-align:left;
     };

     @include MQ (L){
      font-size: 1.8em;

     };

   }
}


.portfolio-img{
	min-width:332px;
  height:250px;
	margin:70px 0;

  @include MQ (S){
    margin:  0 10px 0 20px;
  };

}



 .portofolio-footer {

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 100%;

   button {
     @extend %button ;
     background-color: $Darkblue;
     color:white;
     margin: 60px 10px 5px 0;
   }

 }

}

}
